@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./vendor/Inter-Regular.woff2) format("woff2"),
        url(./vendor/Inter-Regular.woff) format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(./vendor/Inter-Black.woff2) format("woff2"),
        url(./vendor/Inter-Bold.woff) format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./vendor/Inter-Bold.woff2) format("woff2"),
        url(./vendor/Inter-Bold.woff) format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./vendor/Inter-Medium.woff2) format("woff2"),
        url(./vendor/Inter-Medium.woff) format("woff");
}

.page {
    background-color: #000000;
    margin: 0 auto;
    max-width: 880px;
    padding: 0 20px 0;
    font-family: 'Inter', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.header {
    margin: 45px 0 0;
    padding-bottom: 41px;
    border-bottom: solid 1px rgba(84, 84, 84, 1);
}

@media screen and (max-width: 767px) {
    .header {
        margin: 28px 0 0;
        padding-bottom: 32px;
    }
}

.profile {
    margin: 0;
    padding: 40px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 767px) {
    .profile {
        margin: 0;
        flex-direction: column;
    }
}

.profile__inform {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.profile__avatar {
    width: 120px;
    min-height: 120px;
    border-radius: 50%;
}

.profile__list {
    margin: 0;
    padding: 0 30px;
    flex-grow: 1;    
}

@media screen and (max-width: 767px) {
    .profile__list {        
        padding: 26px 0;
        text-align: center;
    }
}

.profile__list-title {
    margin: 0;
    padding: 0 18px 0 0;
    font-weight: 500;
    font-size: 42px;
    line-height: .9;
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 767px) {
    .profile__list-title {
        padding: 0 10px 0 0;
        font-size: 27px;
    }
}

.profile__list-subtitle {
    margin: 0;
    padding-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 767px) {
    .profile__list-subtitle {
        font-size: 14px;
        padding-top: 14px;
    }
}

.profile__list-edit-button {
    background-color: #000000;
    background-image: url(./sprint4-image/Vector.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: solid 1px rgba(255, 255, 255, 1);
    min-width: 24px;
    min-height: 24px;
    transition: all .3s linear;
    cursor: pointer;
}

.profile__list-edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .profile__list-edit-button {
        min-width: 18px;
        min-height: 18px;
    }
}

.profile__add-button {
    background-color: #000000;
    background-image: url(./sprint4-image/Vector+.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: solid 2px rgba(255, 255, 255, 1);
    border-radius: 2px;
    width: 150px;
    min-height: 50px;
    transition: all .3s linear;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        width: 100%;
        margin-top: 36px;
    }
}

.element {
    margin: 0 auto;
    list-style: none;
    padding: 50px 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;    
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1023px) {
    .element {
        grid-template-columns: repeat(2, 1fr);
            
    }
}

@media screen and (max-width: 820px) {
    .element {
        padding: 42px 0 0;        
    }
}

@media screen and (max-width: 767px) {
    .element {
        padding: 36px 0 0;
        grid-template-columns: repeat(1, 1fr);             
    }
}

.element__item {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    overflow: hidden;
}

.element__item-content {
    margin: 0;
    padding: 25px 15px 31px 21px;
    display: flex;
    justify-content: space-between;
}

.element__item-img {
    width: 100%;    
}

.element__item-title {
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: .95;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__item-button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./sprint4-image/like.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: rgba(255, 255, 255, 1);
    min-width: 22px;
    min-height: 19px;
    border: none;
    transition: all .3s linear;
    cursor: pointer;
}

.element__item-button:hover {
    opacity: .6;
}

.footer {
    padding: 66px 0 60px 0;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: rgba(84, 84, 84, 1);
}

@media screen and (max-width: 820px) {
    .footer {
        padding: 56px 0 48px 0;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 48px 0 36px 0;
        font-size: 14px;        
    }
}

.popup {    
    font-family: 'Inter', Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popap__opened {
    display: flex;
}

.popup__container {
    max-width: 430px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 34px 36px 37px 36px;
    box-sizing: border-box;
    position: relative;
}

@media screen and (max-width: 767px) {
    .popup__container {
        max-width: 282px;
        padding: 25px 22px;
    }
}

.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: all .3s linear;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .popup__close {
        max-width: 20px;
        top: -46px;
        right: 0;
    }
}

.popup__title {
    margin: 0 0  54px 0;
    padding: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 1;
}

@media screen and (max-width: 767px) {
    .popup__title {
        margin: 0 0  75px 0;
        font-size: 18px;
        line-height: 1.2;
    }
}

.popup__info {
    padding: 0;
    margin: 0;
    border: none;
}

.popup__form-name {
    width: 100%;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, .2);
    padding-bottom: 13px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  } 

.popup__form-text {
    width: 100%;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, .2);
    padding-bottom: 13px;
    margin-top: 30px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.popup__save-button {
    width: 100%;
    margin-top: 48px;
    min-height: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 2px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    transition: all .3s linear;
    cursor: pointer;
}

.popup__save-button:hover {
    opacity: .5;
}