.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: all .3s linear;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .popup__close {
        max-width: 20px;
        top: -46px;
        right: 0;
    }
}